<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="เปลี่ยนรหัสผ่าน">
</app-page-title>

<div class="row">
  <div class="col-6">
    <ngb-alert [ngClass]="{'d-none': closedAlert ,'d-block': !closedAlert }" type="{{alert.type}}" [dismissible]="false"
      class="alert-{{alert.type}} border-0">
      <strong> {{alert.headMessage}} </strong> {{alert.message}}
      <div style="float: right;cursor: pointer;" (click)="closeAlert()">
        X
      </div>
    </ngb-alert>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="h4 mb-3 col-6">ข้อมูลส่วนตัว</div>
        <!--   <div class="col-6 d-flex justify-content-end">

            <div (click)="resetPass()" class="rounded reset-pass-button px-2 d-flex justify-content-center"
              style="margin-top:10px">
              <p class="mb-0 text-center text-white reset-pass-text">Reset Password</p>
            </div>

          </div> -->
        </div>

        <form name="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
         
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="password" class="form-label" i18n>รหัสผ่านปัจจุบัน <span class="text-danger">*</span></label>
                <input class="form-control" type="password" id="password" i18n-placeholder placeholder="รหัสผ่านปัจจุบัน"
                  formControlName="password" [ngClass]="{
                    'is-invalid': formSubmitted && formValues.password.invalid
                  }" required />

                <div *ngIf="formSubmitted && formValues.password.invalid" class="invalid-feedback">
                  <div *ngIf="formValues.password.errors?.required" i18n>
                    โปรดกรอกฟิลด์นี้
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label for="newPassword" class="form-label" i18n>รหัสผ่านใหม่ <span class="text-danger">*</span></label>
                <input class="form-control" type="password" id="newPassword" minlength="8" i18n-placeholder placeholder="รหัสผ่านใหม่"
                  formControlName="newPassword" [ngClass]="{
                    'is-invalid': formSubmitted && formValues.newPassword.invalid
                  }" required />

                <div *ngIf="formSubmitted && formValues.newPassword.invalid" class="invalid-feedback">
                  <div *ngIf="formValues.newPassword.errors?.required" i18n>
                    โปรดกรอกฟิลด์นี้
                  </div>
                  <div *ngIf="formValues.newPassword.errors?.minlength">
                    ความยาวของอักขระน้อยกว่าที่กำหนด
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label for="conNewPassword" class="form-label" i18n>ยืนยันรหัสผ่านใหม่ <span class="text-danger">*</span></label>
                <input class="form-control" type="password" id="conNewPassword" i18n-placeholder placeholder="ยืนยันรหัสผ่านใหม่"
                  formControlName="conNewPassword" [ngClass]="{
                    'is-invalid': (formSubmitted && formValues.conNewPassword.invalid) || passNotEq
                  }" required />

                <div *ngIf="formSubmitted && formValues.conNewPassword.invalid" class="invalid-feedback">
                  <div *ngIf="formValues.conNewPassword.errors?.required" i18n>
                    โปรดกรอกฟิลด์นี้
                  </div>
                 
                </div>
                <div *ngIf="passNotEq" class="invalid-feedback">
                  <div *ngIf="passNotEq">
                    โปรดระบุรหัสผ่านให้ตรงกัน
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="row">
            <div class="d-grid col-4">
              <div class="exit-button rounded h-100 d-flex align-items-center py-1" type="button" (click)="onExit()"
                i18n>
                <div class="text-center w-100 d-flex justify-content-center">
                  <i class="mdi mdi-close" style="color: white"></i>
                  <p class="text-white mb-0 ml-2">ยกเลิก</p>
                </div>
              </div>
            </div>
            <div class="d-grid col-4">
              <div class="create-edit-user-button rounded h-100 d-flex align-items-center py-1" type="button"
                (click)="onSubmit()" i18n>
                <div class="text-center w-100 d-flex justify-content-center">
                  <i class="mdi mdi-check" style="color: white"></i>
                  <p class="text-white mb-0 ml-2">บันทึก</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
  <!-- end col -->
</div>
<!-- end row -->